
@{
    ViewData["Title"] = "Index";
}

        
    <form action="User/AdminPanelUsers" method="post">
        <input type="text" required name="username" placeholder="Username..." />
        <br />
        <input type="password" required name="password" placeholder="Password..." />
        <br />
        <input type="email" required name="emailAddress" placeholder="Email Address..." />
        <br />
      
        <input type="submit" value="Register" />
    </form>

